.controls {
  margin-bottom: 1.5rem;
}

.button {
  display: inline-block;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  width: calc(15vw + 100px);
  margin-right: .5rem!important;
  margin-left: .5rem!important;
  border-radius: 32px;
  text-shadow: 2px 6px 20px rgba(0,0,0,0.4);
  box-shadow: rgba(0,0,0,0.5) 1px 2px 8px 0px;
  background: #1e2123;
  border: 2px solid #229089;
  color: #f9fdff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 18px;
}

.item {
  display: block;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  width: calc(30vw - 1.5rem + 200px);
  margin-right: auto;
  margin-left: auto;
  border-radius: 32px;
  border: 1.5px solid #bbb;
  box-shadow: rgba(0,0,0,0.3) 1px 2px 8px 0px;
  color: #f9fdff;
  font-size: 13px;
  padding: 10px 18px;
}

.split {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

table.spreadsheetSim {
  height: fit-content;
  width: fit-content;
  border-spacing: 0;
  border-collapse: collapse;
  color: #999;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 10px;
}

.spreadsheetSim td,th {
  border: 1px solid #e7e7e7;
  padding: 0;
  min-width: 3em;
  max-width: 6em;
}

.spreadsheetSim .firstRow th {
  background: #afafaf;
}

.spreadsheetSim th {
  background-color: #f5f5f5;
}

.spreadsheetSim .titleRow th {
  white-space: nowrap;
  overflow: hidden;
}

/* .spreadsheetSim th.addButtons { */
.addButtons {
  background: #afafaf;
  min-width: 1.6em;
  color: #004a96;
}

.addSheetButton {
  width: 200px;
  margin: 0 auto;
}

.delSheetButton {
  width: 200px;
  margin: 0 auto;
  color: red;
}

.spreadsheetSim input {
  border: none;
  padding: 0;
  line-height: 1.6em;
  width: -webkit-fill-available;
  /* height: 100%;
  display: inline-block;
  position: relative; */
}

.json {
  white-space: break-spaces;
  display: flex;
  flex-wrap: wrap;
}

.json div {
  padding: 0 10px 10px 10px;
}

.split button {
  width: fit-content;
}

.wsStatus span {
  vertical-align: middle;
}
